nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

nav > a {
  padding: 10px;
  margin: 0 20px;
}

nav > a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  background-color: #020621;
  color: white;
  padding: 30px;
  font-size: 12px;
  justify-content: flex-end;
}

.splash {
  display: flex;
  height: 500px;
}

.splash > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid black;
}

.title {
  width: 30%;
  flex-direction: column;
  background-color: black;
  color: white;
}

.title > p {
  margin: 20px 0;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
}

.title > h2 {
  margin: 20px 0;
  font-size: 75px;
  letter-spacing: 12px;
  font-weight: 100;
}

.demo {
  width: 70%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 210px;
  margin: 20px 16% 0 16%;
  text-align: center;
}

.info > p {
  margin: 10px 0;
  font-size: 20px;
}

.samples {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 210px;
  margin-bottom: 30px;
}

.samples > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  margin: 0 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e6e6e6;
  font-style: italic;
  font-weight: 900;
  position: relative;
}

.samples > div:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 10px;
  width: 0;
  height: 0;

  border-top: 10px solid transparent;
  border-right: 15px solid #e6e6e6;
  border-bottom: 10px solid transparent;
}
